.FixedButton {
	position: relative;
	top: 5px;
  float: right;
}

.Form1 {
	padding-top: 30px
}

.bg{
	background-image: url("./images/xd.jpeg");
	background-size: 100% 100%;
}


.centered{
	position: fixed;
	top: 40%;
	left: 44%;

}